body{
    margin:0;
}
nav{
    background-color: skyblue;
    padding:18px ;
    display: flex;
    justify-content: center;
}
nav a{
    colour:black;
    text-decoration: none ;
    margin:0px 10px;
}
